.button {
	@include text16;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $color-pink;
	border-radius: 8px;
	padding: 14px 8px 13px;
	text-transform: uppercase;
	transition: color $transition-default, background-color $transition-default, border-color $transition-default;

	&:hover {
	}

	&__icon {
		width: 24px;
		height: 24px;
		margin-right: 4px;
	}

	&--pink {
		@include shadow;
		background-color: $color-pink;
		color: $color-white;

		&:disabled {
			background-color: $color-gray-light;
			border-color: $color-gray-light;
			box-shadow: none;
		}
	}

	&--pink-light {
		background-color: #FC92A7;
		border-color: #FC92A7;
		color: $color-white;
	}

	&--small-text {
		@include text14;
		box-shadow: none;
	}

	&--small {
		@include text14;
		padding: 11px 8px;
		box-shadow: none;
	}
}
