.option {
	cursor: pointer;

	&__input {
		display: none;
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		padding: 13px 24px 12px;
		background-color: $color-gray-light;
		font-size: 20px;
		line-height: 24px;
		color: $color-white;
		transition: color $transition-default, background-color $transition-default;

		.option__input:checked + & {
			background-color: $color-pink;
		}

		.option--checkbox & {
			padding: 12px 18px 11px;
			border-radius: 40px;
		}

		.option--text-small & {
			font-size: 14px;
		}
	}

	&__icon {
		display: none;
		width: 24px;
		height: 24px;
		margin-left: 10px;

		.option__input:checked + .option__text & {
			display: block;
		}
	}
}
