.tag-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px -5px;

	&--one-line {
		flex-wrap: nowrap;
		width: 100%;
		margin: 16px auto 0;
		overflow-x: auto;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 0;
		}
	}

	&__elem {
		@include text11;
		margin: 0 4px 5px;
		padding: 6px 10px;
		border-radius: 50px;
		color: #6E6E6E;
		text-transform: uppercase;
		background-color: $color-white;

		.tag-list--one-line & {
			background-color: #E9F4FC;
		}
	}
}
