.tag-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px -5px;

	&__elem {
		@include text11;
		margin: 0 4px 5px;
		padding: 6px 10px;
		border-radius: 50px;
		color: #6E6E6E;
		text-transform: uppercase;
		background-color: $color-white;
	}
}
