*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 375px;
	min-height: 100vh;
	padding-top: 52px;
	padding-bottom: 82px;
	-webkit-font-smoothing: antialiased;
	background-color: $color-white;
	color: $color-black;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 32px;
	padding-bottom: 32px;
}

button {
	padding: 0;
	border: none;
	background-color: $color-transparent;
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

input, textarea, button {
	&:focus {
		outline: none;
	}
}
