mixin header()
	header.header
		.container.header__container
			button.header__cancel-btn Отмена
			.header__text-block
				p.header__title Siomio
				p.header__text бот
			button.header__menu-btn
				+svg("dots-circle")(class="header__menu-btn-icon")
