.page-tariffs {
	&__title {
		margin-bottom: 17px;
	}

	&__description-grid {
		display: grid;
		grid-row-gap: 16px;
		margin-bottom: 24px;
	}

	&__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__description-icon {
		width: 24px;
		height: 24px;
		color: $color-black;
	}

	&__description-text {
		@include text16-medium;
	}

	&__slider {
		width: calc(100% + 32px);
		margin-bottom: 33px;
		margin-left: -16px;
	}

	&__slide {
		border-radius: 20px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border: 4px solid $color-transparent;
		transform: scale(0.8);
		transition: transform $transition-default, border-color $transition-default, border-radius $transition-default;

		&::before {
			display: block;
			padding-top: 150%;
			content: "";
		}

		&--bg1 {
			background-image: url("../images/tariff1.svg");
		}

		&--bg2 {
			background-image: url("../images/tariff2.svg");
		}

		&--bg3 {
			background-image: url("../images/tariff3.svg");
		}

		.page-tariffs__slide-box--active & {
			border-color: $color-pink;
			transform: scale(1);
		}
	}

	&__slide-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 12px;
	}

	&__slide-center {
		margin: auto;
	}

	&__slide-crown {
		width: 26px;
		height: 24px;
		margin-bottom: 18px;
	}

	&__slide-value {
		margin-bottom: 2px;
		font-size: 36px;
		line-height: 1;
		font-weight: 500;
	}

	&__slide-time {
		font-size: 22px;
		line-height: 24px;
		font-weight: 500;
	}

	&__slide-bottom {
		margin-top: auto;
	}

	&__slide-discount {
		display: inline-block;
		margin-bottom: 6px;
		padding: 6px 8px;
		background-color: $color-black;
		border-radius: 20px;
		font-size: 14px;
		line-height: 17px;
		color: $color-white;
	}

	&__slide-price {
		font-size: 16px;
		line-height: 18px;
	}

	&__buttons-grid {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-column-gap: 8px;
	}
}
