.page-scroll {
	&__grid {
		display: grid;
		grid-row-gap: 16px;
		padding-bottom: 32px;
	}

	&__action-panel {
		position: fixed !important;
		bottom: 100px;
		left: 50%;
		transform: translateX(-50%);
	}
}
