.page-interests {
	&__title {
		margin-bottom: 8px;
	}

	&__text {
		@include text14;
		text-align: center;
		margin-bottom: 32px;
	}

	&__options-grid {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-gap: 8px;
		margin-bottom: 32px;
	}

	&__button-grid {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-gap: 8px;
		margin-bottom: 8px;
	}
}
