html
	head
		title Список страниц
		style.
			body {
				min-height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items:center;
				font-size: 20px;
				font-family: Verdana, monospace;
			}
			p {
				margin-bottom: 32px;
			}
			ul {
				list-style-type:none;
				padding: 0;
			}
			a {
				color: #F75777;
				text-decoration: none;
				white-space: nowrap;
			}
block content
	p Список страниц
	ul
		li
			a(href="./page-choose-gender.html", target="_blank") - Выберите пол
		li
			a(href="./page-birthday1.html", target="_blank") - Дата рождения 1
		li
			a(href="./page-birthday2.html", target="_blank") - Дата рождения 2
		li
			a(href="./page-birthday3.html", target="_blank") - Дата рождения 3
		li
			a(href="./page-city.html", target="_blank") - Выберите город
		li
			a(href="./page-photo1.html", target="_blank") - Добавьте фото/видео 1
		li
			a(href="./page-photo2.html", target="_blank") - Добавьте фото/видео 2
		li
			a(href="./page-register-complete.html", target="_blank") - Регистрация завершена
		li
			a(href="./page-search-options.html", target="_blank") - Параметры поиска 1
		li
			a(href="./page-search-options2.html", target="_blank") - Параметры поиска 2
		li
			a(href="./page-search1.html", target="_blank") - Поиск 1
		li
			a(href="./page-search2.html", target="_blank") - Поиск 2
		li
			a(href="./page-search3.html", target="_blank") - Поиск 3
		li
			a(href="./page-search4.html", target="_blank") - Поиск 4
		li
			a(href="./page-profile1.html", target="_blank") - Моя анкета 1
		li
			a(href="./page-profile2.html", target="_blank") - Моя анкета 2
		li
			a(href="./page-interests.html", target="_blank") - Выберите интересы
		li
			a(href="./page-add-photo1.html", target="_blank") - Добавьте фото 1
		li
			a(href="./page-add-photo2.html", target="_blank") - Добавьте фото 2
		li
			a(href="./page-about1.html", target="_blank") - Обо мне 1
		li
			a(href="./page-about2.html", target="_blank") - Обо мне 2
		li
			a(href="./page-options.html", target="_blank") - Все настройки
		li
			a(href="./page-notification1.html", target="_blank") - Уведомления 1
		li
			a(href="./page-notification2.html", target="_blank") - Уведомления 2
		li
			a(href="./page-notification3.html", target="_blank") - Уведомления 3
		li
			a(href="./page-notification4.html", target="_blank") - Уведомления 4
		li
			a(href="./page-notification5.html", target="_blank") - Уведомления 5
		li
			a(href="./page-notification6.html", target="_blank") - Уведомления 6
		li
			a(href="./page-notification7.html", target="_blank") - Уведомления 7
		li
			a(href="./page-notification8.html", target="_blank") - Уведомления 8
		li
			a(href="./page-scroll.html", target="_blank") - Страница со скролом
