extends pug/base

prepend vars
	//-

append vars
	- title = "Добавьте фото"
	- page = "page-add-photo"

block content
	h1.title.page-add-photo__title Добавьте фото
	p.page-add-photo__text Важно что бы на фото было видно лицо.
		br
		|Запрещена- реклама, спам и порнография
	.page-add-photo__grid
		- var n = 0
		while n < 8
			.page-add-photo__elem-box
			- n++
	.page-add-photo__buttons-grid
		button.button.button--pink.w-100 Добавить фото
		button.button.button--pink.w-100(disabled) Готово

