extends pug/base

prepend vars
	//-

append vars
	- title = "Тарифы"
	- page = "page-tariffs"

block content
	h1.title.page-tariffs__title Получите SiomioPlus
	.page-tariffs__description-grid
		.page-tariffs__description
			+svg("earth")(class="page-tariffs__description-icon")
			p.page-tariffs__description-text Измените свое место.
				br
				|Находите пары по всему миру.
		.page-tariffs__description
			+svg("envelope")(class="page-tariffs__description-icon")
			p.page-tariffs__description-text Ставьте больше отметок “суперлайк”.
				br
				|Выразите совю симпатию.
		.page-tariffs__description
			+svg("filter")(class="page-tariffs__description-icon")
			p.page-tariffs__description-text Выключите рекламу. Ничего не будет отвлекать.
	.page-tariffs__tariff-grid
			// Tariff
			.page-tariffs__tariff.page-tariffs__tariff--bg1
				+svg("crown2")(class="page-tariffs__tariff-crown")
				.page-tariffs__tariff-center
					p.page-tariffs__tariff-value 1
					p.page-tariffs__tariff-time день
				.page-tariffs__tariff-bottom
					p.page-tariffs__tariff-price 199 P/день.
			// Tariff
			.page-tariffs__tariff.page-tariffs__tariff--center.page-tariffs__tariff--hot.page-tariffs__tariff--bg2
				+svg("crown2")(class="page-tariffs__tariff-crown")
				.page-tariffs__tariff-center
					p.page-tariffs__tariff-value 30
					p.page-tariffs__tariff-time дней
				.page-tariffs__tariff-bottom
					p.page-tariffs__tariff-discount 13,3 руб в день!
					p.page-tariffs__tariff-price 399 P/мес.
			// Tariff
			.page-tariffs__tariff.page-tariffs__tariff--bg3
				+svg("crown2")(class="page-tariffs__tariff-crown")
				.page-tariffs__tariff-center
					p.page-tariffs__tariff-value 365
					p.page-tariffs__tariff-time дней
				.page-tariffs__tariff-bottom
					p.page-tariffs__tariff-discount 14,1 руб в день!
					p.page-tariffs__tariff-price 1500 P/мес.

	.page-tariffs__buttons-grid
		button.button.button--pink-light.button--small-text Отмена
		button.button.button--pink.button--small-text Подписаться

