extends pug/base

prepend vars
	//-

append vars
	- title = "Поиск"
	- page = "page-search"

block content
	+user(false, true, false)
	+actionPanel()(class="page-search__action-panel")
	p.page-search__text Выберите действие что-бы перейти к следующей анкете

