extends pug/base

prepend vars
	//-

append vars
	- title = "Уведомления"
	- page = "page-notification overflow-hidden"

block content
	.page-notification__tab-row
		a.page-notification__tab.page-notification__tab--active
			+svg("heart2")(class="page-notification__tab-icon")
			span Взаимные лайки (12)
		a.page-notification__tab
			+svg("heart3")(class="page-notification__tab-icon")
			span Вас лайкнули (5)
	.page-notification__swipe-grid
		- var n = 0
		while n<10
			.page-notification__swipe-container.page-notification__swipe-container--scrollpage
				+user(false, true, false, false, false, false, 'woman', false, false, true)
				+user(false, true, false, false, false, false, 'woman', false, false, true)(class="page-notification__swipe-elem page-notification__swipe-elem--scroll-page")
			- n++

	+actionPanel()(class="page-notification__action-panel")

